/*  imported from index.sass  */

@import url(../node_modules/c3/c3.min.css);

.index__example___174te{opacity:.5;filter:alpha(opacity=50);font-size:36px;width:300px;display:-webkit-box;display:-ms-flexbox;display:flex}
